.container-main {
  width: 90%; /* Default width for both mobile and desktop */
  margin: 0 auto; /* Center the container horizontally */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .container-main {
    width: 100%; /* Set full width for mobile screens */
  }
}

/* Media query for desktop devices */
@media (min-width: 768px) {
  .container-main {
    width: 90%; /* Set 80% width for desktop screens */
  }
}

