.background-pattern {
    --dot-color: hsl(256, 33%, 70%);
    --dot-size: 1px;
    --dot-space: 22px;
    --bg-color: #fff;
  
    background:
      linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
      linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
      var(--dot-color);
    background-size: var(--dot-space) var(--dot-space);
  }
  